* {
  background-color: antiquewhite;
}

img#aa {
  width: 100px;
  position: absolute;
  z-index: 3;
}

img#ab {
  width: 100px;
  position: absolute;
  z-index: 2;
}

img#ac {
  width: 100px;
  position: absolute;
  z-index: 1;
}

form {
  background-color: aquamarine;
}

form {
  margin-top: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: inline-grid;
  grid-template-columns: min-content;
}

form input {
  background-color: brown;
}

button {
  background-color: rgb(60, 175, 37);
}

table {
  background-color: blueviolet;
}
