*{
    font-family: Arial, sans-serif, Helvetica;
    /*background-color: black;*/
}

nav{
    margin-top: 20px;
    float: right;
    margin-right: 80px;
}
 
a{
    text-decoration: none;
    color: rgb(126, 126, 126);
    font-size: small;
}

a:hover{
    text-decoration: underline;
}

#im{
    margin-left: 20px;
}

img{
    position: relative;
    width: 22%;
    height: 20%;
    margin-top: 10%;
    margin-left: 40%;
    padding-bottom: 20px;
}

form{
    text-align: center;
}

input[type="search"]{
    width: 40%;
    padding: 13px;
    border-radius: 20px;
    border-style: solid;
    border-top-width: 0.9px;
    border-bottom-width: 0.9px;
    border-left-width: 0.9px;
    border-right-width: 0.9px;
    border-color: rgb(196, 189, 189);
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 23px;
    margin-left: 20px;
}

input[type="search"]:hover{
    box-shadow: 0.5px 0.5px 2.5px 0.1px rgb(187, 187, 187);
}
 
input[type="search"]:focus{
    outline: none;
    background-image: none;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 23px;
    padding-left: 40px;
}

button{
    padding: 9px 10px;
    margin-top: 30px;
    margin-right: 1%;
    border-radius: 5px;
    border-style: solid;
    color: rgba(83, 81, 81, 0.9);
}

button:hover{
    cursor: pointer;
    border-style: solid;
    border-color: rgba(206, 199, 199, 0.9);
}

#ext{
    text-align: center;
    margin-top: 40px;
    font-size: small;
}

#ext a{
    color: rgb(118, 118, 228);
    padding: 3px;
}

#ext a:hover{
    text-decoration: underline;
}

footer{
    position: fixed;
    margin-top: 9.5%;
    background-color: rgba(221, 221, 221, 0.9);
    padding: 20px 50px;  
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
}

#ad, #bus, #ab, #how{
    padding: 10px 10px;
}

#pri, #ter, #set{
    float: right;
    padding: 5px;
}