body {
  background-color: rgb(140, 242, 255);
}
 
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#primary-nav {
  display: grid;
  width: 12%;
  background-color: rgba(6, 81, 94, 0.6);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

#settings-nav {
  display: inline-flex;
  float: right;
  background-color: rgba(6, 81, 94, 0.6);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-size: larger;
}

#main-acc,
#acc-set,
#track-set {
  padding: 5px;
}

#main-acc:hover,
#acc-set:hover,
#track-set:hover {
  padding: 5px;
  background-color: purple;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#main-acc:focus,
#acc-set:focus,
#track-set:focus {
  padding: 5px;
  background-color: purple;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

#hmpg,
#mes,
#ww,
#fam,
#fri,
#track {
  color: white;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  font-size: larger;
}

#hmpg:hover,
#mes:hover,
#ww:hover,
#fam:hover,
#fri:hover,
#track:hover {
  color: white;
  background-color: purple;
  margin-right: auto;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  font-size: larger;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#hmpg:focus,
#mes:focus,
#ww:focus,
#fam:focus,
#fri:focus,
#track:focus {
  color: white;
  background-color: purple;
  margin-right: auto;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  font-size: larger;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

footer {
  text-align: center;
  color: white;
  font-size: 25px;
}

footer {
  background-color: rgba(15, 184, 218, 0.75);
  padding: 10px 10px 10px 10px;
  margin-left: 25%;
  width: 55%;
  border-radius: 5px;
  text-transform: uppercase;
}

footer a {
  color: rgb(46, 38, 3);
  font-size: 18px;
  margin: 2px 5px 2px 5px;
  padding: 2px;
}

footer #rep-smth {
  padding-right: 9px;
}

footer a:focus{
  color: rgb(235, 225, 168);
  background-color: rgb(19, 29, 31);
  border-radius: 5px;
  outline: none;
}


footer a:hover {
  color: rgb(235, 225, 168);
  background-color: rgb(19, 29, 31);
  border-radius: 5px;
}
